@page
@model GameApp.Pages.EditGameModel

<style>
    input {
        display: block;
    }
    input[type="checkbox"] {
        display: inline;
    }
</style>

<div>
    <form method="post" style="display: block;">
        <input hidden="hidden" value="@Model.Game.GameID" name="GameID" />
        <div>
            <label for="Name">Name</label>
            <input value="@Model.Game.Name" type="text" name="Name" />
        </div>
        <div>
            <label for="Description">Description</label>
            <input value="@Model.Game.Description" type="text" name="Description" />
        </div>
        <div>
            <label for="Url">Url</label>
            <input value="@Model.Game.Url" type="url" name="Url" />
        </div>
        <div>
            <p>Genres</p>
            @foreach (var genre in Model.AllGenres)
            {
                <div>
                    @if (Model.Game.Genres.Contains(genre))
                    {
                        <input class="form-check-input" type="checkbox" name="Genres" checked value="@genre.GenreID" />
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" name="Genres" value="@genre.GenreID" />
                    }
                    <label class="form-check-label" for="@genre.Name">@genre.Name</label>
                </div>
            }
        </div>


        <button class="btn btn-success mt-3" asp-page-handler="ChangeData">Confirm</button>
    </form>
</div>